#main-wrapper {
    border: 5px solid lightgrey;
    border-radius: 20px;
    width: 25%;
    margin: 50px auto;
    padding-bottom: 20px;
}

h1, #timerDisplay, #time-field-work, #time-field-break, #reset, #message {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

#time-field {
    margin: 0 auto;
    text-align: center;
}

#time-field-work, #time-field-break {
    display: inline-block;
    margin: auto;
}

.userInput {
    text-align: center;
    font-size: 32px;
    width: 3em;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: lightgrey;
}

#timerDisplay {
    font-size: 72px;
    cursor: pointer;
}

.wrapper {
    margin-top: 10px;
}

#reset, #speed {
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
    display: block;
    visibility: hidden;
}

#reset {
    font-size: 20px;
}

#speed {
    font-size: 16px;
}

#message {
    color: red;
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
    height: 1.1em;
}

.red {
    border-color: red;
}

.green {
    border-color: limegreen;
}
